<div class="user-details">
  <center><h1> Who we are </h1></center>
  <p> Founded in 2005 by a team of young professionals, Mazatech is a software company focused on the development of innovative solutions for 2D vector graphics realtime rendering. 2D vector graphics grants far superior versatility respect to raster graphics: using mathematical equations to represent drawings, it makes the graphics freely scalable to any size, without sacrifice visual quality. This becomes of fundamental importance when there is the need to run applications across a wide range of devices with different native resolution displays.<p>
  <center>
    <figure>
      <img width="256px" height="256px" alt="Girl Raster" src="assets/images/Girl_raster.png"></img>
      <figcaption>Raster graphics</figcaption>
    </figure>
    <figure>
      <img width="256px" height="256px" alt="Girl Vector" src="assets/images/girl.svg" onerror="this.src='assets/img/Girl_vector.png'; this.onerror=null;"></img>
      <figcaption>Vector graphics</figcaption>
    </figure>
  </center>
  <p>We recognize open standards as the key factor for the development of successful applications; so we actively support vector graphics industry standards such as Khronos' OpenVG and W3C's SVG with our solutions: AmanithVG and AmanithSVG.</p>
  <center>
    <img class="svg-logo" alt="openvg logo" src="assets/images/openvg-logo.png"></img>
    <img class="svg-logo" alt="svg logo" src="assets/images/svg-logo.png"></img>
  </center>
</div>
<div class="user">
  <div class="tech">
    <center><h2>Reliable software</h2>
    <img class="tech-logo" alt="git logo" src="assets/images/git_logo.png"></img>
    <img class="tech-logo" alt="misra logo" src="assets/images/misra_logo.png"></img></center>
    <p>In order to satisfy the need to have the total control over the software, <strong>the complete source code</strong> is always available as a licensing option. In addition Mazatech is ready to deliver custom solution to address specific needs, such as the conversion of critical portions of code to <strong>MISRA standard</strong>.</p>
  </div>
  <div class="tech">
    <center><h2>Natively portable</h2>
    <img class="tech-logo" alt="c logo" src="assets/images/c_logo.png"></img>
    <img class="tech-logo" alt="cpp logo" src="assets/images/cpp_logo.png"></img></center>
    <p>Written in pure <strong>ANSI C/C++</strong> with minimal external dependencies, Mazatech's software targets desktop: <strong>Windows, OSX, Linux</strong>, mobile: <strong>iOS, Android</strong>, embedded: <strong>Linux, QNX</strong> and even <strong>bare-metal</strong> platforms, supporting <strong>x86, x86_64, arm, armv7, aarch64, ppc, mips</strong> architectures out of the box. This makes the software really portable: not even POSIX is required.</p>
  </div>
  <div class="tech">
    <center><h2>Small footprint</h2>
    <img class="tech-logo" alt="cpu" src="assets/images/cpu.png"></img>
    <img class="tech-logo" alt="ram" src="assets/images/ram.png"></img></center>
    <p>All Mazatech's software is <strong>written with low resources platforms in mind</strong>: not only is the memory managed to ensure that not a single byte is wasted, but also to allow the dynamic recovery of memory areas no longer used. In addition, the <strong>memory allocation API is fully abstracted</strong> to allow an easy integration of custom memory managers.</p>
  </div> 
</div>
