<div id="particles-js">
  <div class="header">
      <h1>
        <img class="site-logo" alt="Mazatech Logo" src="assets/images/mazatech_logo.png"></img>
        <span class="site-title">{{site.company_name}}</span>
        <span class="site-description">{{site.company_watchword}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="eMail" target="_blank" href="mailto:{{site.company_email}}"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://www.twitter.com/{{site.twitter_username}}/"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/{{site.facebook_username}}/"><i class="icon fab fa-facebook-f" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fab fa-github" aria-hidden="true"></i></a>
      </div>
      <!--
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
    -->
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>