<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="msvalidate.01" content="35EECE5158366BAEE262925E15C6C658" />
  
  <!-- Facebook metadata -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/mazatech-screenshot.png"/>
  <meta property="fb:admins" content="749371588"/>
  
  <meta name="google-site-verification" content="9bZfMOqRDUoR_SWSEawba93p-clgIKqma3e5Y4No8ao" />
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{site.url}}{{page.url}}",
    "legalName": "{{site.company_name_ext}}",
    "vatID": "{{site.company_vatid}}",
    "email": "{{site.company_email}}",
    "logo": "{{site.url}}/assets/images/mazatech_logo.png",
    "founder": [{
      "@type": "Person",
      "givenName": "{{site.company_founder_1_given_name}}",
      "familyName": "{{site.company_founder_1_family_name}}"
    },{
      "@type": "Person",
      "givenName": "{{site.company_founder_2_given_name}}",
      "familyName": "{{site.company_founder_2_family_name}}"
    }],
    "foundingDate": "{{site.company_founding_date}}",
    "foundingLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "{{site.company_country}}",
        "addressLocality": "{{site.company_city}}",
        "addressRegion": "{{site.company_province}}",
        "postalCode": "{{site.company_postalcode}}",
        "streetAddress": "{{site.company_street}}"
      }
    },
    "address": [{
      "@type": "PostalAddress",
      "addressCountry": "{{site.company_country}}",
      "addressLocality": "{{site.company_city}}",
      "addressRegion": "{{site.company_province}}",
      "postalCode": "{{site.company_postalcode}}",
      "streetAddress": "{{site.company_street}}"
    }],
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "{{site.company_telephone}}",
      "contactType": "customer service",
      "availableLanguage": [
        "English",
        "Italian"
      ]
    }]
  }

  </script>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,100" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
</head>
