<div class="user-details">
  <h1> Our Engines </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <center><img alt="AmanithVG" src="assets/images/amanithvg.png" /></center>
  </div>
  <div class="contents">
    <h3>AmanithVG</h3>
    <p>AmanithVG is a 2D vector graphics library that implements OpenVG 1.1: the standard, royalty-free, cross-platform API for hardware accelerated 2D vector and raster graphics, created by Khronos group; AmanithVG comes with two different rendering backends: SRE (pure software) and GLE (OpenGL|ES aided) in order to provide the highest rendering quality at top speed on any device.<br><br>The library is witten in ANSI C and depends on a very limited set of standard libc functions, that can be easily mapped to custom functions, to be portable even on bare metal platforms.</p>
   <center><a class="project-link" href="http://www.amanithvg.com">Project Page</a><a class="project-link" href="mailto:info@mazatech.com?subject=AmanithVG%20licensing&body=I'm%20interested%20in%20licensing%20AmanithVG%20for:%20[detailed%20explaination%20of%20the%20project]">Licensing</a></center>
  </div>
</div>
<div class="breakspace"></div>
<div class="user-projects">
  <div class="images-left">
    <center><img alt="AmanithSVG" src="assets/images/amanithsvg.png" /></center>
  </div>
  <div class="contents-right">
    <h3>AmanithSVG</h3>
    <p>AmanithSVG is a middleware for reading and rendering SVG files, available as a standalone native library and as Unity plugin; AmanithSVG is based on static features of SVG Tiny 1.2, plus some static features of SVG Full 1.1.<br><br>The library is written in ANSI C++ and depends on AmanithVG SRE for the rendering and on PugiXML for XML parsing.</p>
    <center><a class="project-link" href="http://www.amanithsvg.com">Project Page</a><a class="project-link" href="mailto:info@mazatech.com?subject=AmanithSVG%20licensing&body=I'm%20interested%20in%20licensing%20AmanithSVG%20for:%20[detailed%20explaination%20of%20the%20project]">Licensing</a></center>
  </div>
</div>
